if HAWK_LEFT || HAWK_RIGHT

config ZMK_KEYBOARD_NAME
	default "Hawk"

config ZMK_SPLIT
	default y

config ZMK_BLE
	default y

if HAWK_LEFT

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif # SHIELD_HAWK_LEFT

endif # SHIELD_HAWK_LEFT || SHIELD_HAWK_RIGHT
