/ {
    chosen {
        zmk,kscan = &kscan0;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";

        col-gpios
            = <&gpio0 4  GPIO_ACTIVE_HIGH> // Spalte 0 (Ganz links: Pinky außen/Nummer)
            , <&gpio0 5  GPIO_ACTIVE_HIGH> // Spalte 1 (Pinky: Q, A, Z)
            , <&gpio0 6  GPIO_ACTIVE_HIGH> // Spalte 2 (Ring: W, S, X)
            , <&gpio0 7  GPIO_ACTIVE_HIGH> // Spalte 3 (Mittel: E, D, C)
            , <&gpio0 27 GPIO_ACTIVE_HIGH> // Spalte 4 (Zeige: R, F, V)
            , <&gpio0 28 GPIO_ACTIVE_HIGH>; // Spalte 5 (Zeige-Innen: T, G, B)

        row-gpios
            = <&gpio0 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    };
};

/* UART für die kabelgebundene Split-Kommunikation */
&uart0 {
    status = "okay";
    current-speed = <115200>;
    pinctrl-0 = <&uart0_default>;
    pinctrl-names = "default";
};

&pinctrl {
    uart0_default: uart0_default {
        group1 {
            /* Pinmux für RP2040:
               0x00000208 -> GPIO 8, Funktion 2 (UART TX)
               0x00000209 -> GPIO 9, Funktion 2 (UART RX)
            */
            pinmux = <0x00000208>, <0x00000209>;
        };
    };
};
