&spi0 {
    status = "okay";
    cs-gpios = <&pro_micro 9 GPIO_ACTIVE_HIGH>;
};

&{/soc/spi@40003000} {
    status = "okay";
    cs-gpios = <&pro_micro 9 GPIO_ACTIVE_HIGH>;
};

/ {
    kscan_direct: kscan_direct {
        compatible = "zmk,kscan-gpio-direct";
        input-gpios
            = <&gpio0 29 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // Pin 20
            , <&gpio0 31 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // Pin 21
            , <&gpio0 2  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // Pin 18
            , <&gpio1 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // Pin 17
            , <&gpio1 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // Pin 16
            , <&gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)> // Pin 15
            ;
    };

    kscan_composite: kscan_composite {
        compatible = "zmk,kscan-composite";
        rows = <5>;      
        columns = <12>; 

        matrix {
            kscan = <&kscan>; // Geändert von kscan0 auf kscan
        };

        direct {
            kscan = <&kscan_direct>;
            row-offset = <4>;
            column-offset = <0>;
        };
    };

    chosen {
        zmk,kscan = &kscan_composite;
    };
};
