/ {
    // 1. Wir definieren den Pin als "output-pin", damit das Makro ihn versteht
    status_led: status_led {
        compatible = "zmk,output-behavior-generic";
        #binding-cells = <0>;
        gpio-pin = <&gpio0 29 GPIO_ACTIVE_HIGH>;
    };

    macros {
        led_test: led_test {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <100>;
            tap-ms = <100>;
            bindings
                = <&macro_param_1to1 &status_led 1> // Pin auf High (LED an)
                , <&wait_ms 100>
                , <&macro_param_1to1 &status_led 0> // Pin auf Low (LED aus)
                , <&wait_ms 100>
                , <&macro_param_1to1 &status_led 1>
                , <&wait_ms 100>
                , <&macro_param_1to1 &status_led 0>;
        };
    };
};
