/ {
    // Definition des GPIO-Verhaltens für P0.29
    status_led: status_led {
        compatible = "zmk,output-behavior-generic";
        #binding-cells = <0>;
        gpio-pin = <&gpio0 29 GPIO_ACTIVE_HIGH>;
    };

    macros {
        // Taste 1: Statischer Check (Leuchtet solange man drückt)
        led_on_hold: led_on_hold {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_param_1to1 &status_led 1> 
                , <&macro_pause_for_release>        
                , <&macro_param_1to1 &status_led 0>; 
        };

        // Taste 2: Blink-Test (2x kurz blitzen)
        led_blink: led_blink {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            // Wir definieren die Wartezeit haptisch über wait-ms als globale Eigenschaft des Makros
            wait-ms = <150>; 
            tap-ms = <150>;
            bindings
                = <&macro_param_1to1 &status_led 1> 
                , <&macro_param_1to1 &status_led 0> 
                , <&macro_param_1to1 &status_led 1>
                , <&macro_param_1to1 &status_led 0>;
        };
    };
};
