if SHIELD_SUPERMINI_SPLIT_LEFT || SHIELD_SUPERMINI_SPLIT_RIGHT

config ZMK_KEYBOARD_NAME
	default "Supermini Split"

config ZMK_SPLIT
	default y

config ZMK_BLE
	default y

if SHIELD_SUPERMINI_SPLIT_LEFT

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif # SHIELD_SUPERMINI_SPLIT_LEFT

endif # SHIELD_SUPERMINI_SPLIT_LEFT || SHIELD_SUPERMINI_SPLIT_RIGHT
